#board1 {
    width: 600px;
    position: absolute;
    left: 30%;
    top: 10%;
}

#IsPlayer1Turn {
    position: absolute;
    left: 44%;
}

#flipBoardBtn {
    position: absolute;
    left: 37%;
}

#startBtn {
    position: absolute;
    left: 30%;

}